<div class="center title">
  <h1>The church of Christ</h1>
</div>
<div class = "container">
  <h2>What is the church of Christ?</h2>
<p>
  She is the bride of Christ (Ephesians 5:23-24), the body of Christ (Ephesians
  1:22-23, Colossians 1:18,24), the mystery of the Old Testament from the heart
  of God (Colossians 1:26), bought with the blood of Christ from eternity in the
  mind of God (Ephesians 3:10-11, Colossians 1:20), sanctified in Christ (I
  Corinthians 1:2, I Corinthians 16:22), persecuted from its establishment and
  unto the end of time (Acts 8:1, Acts 11:19, II Timothy 3:12), consists of
  obedient souls from every nation under Heaven (I Corinthians 4:17), and are
  brethren in Christ (I Corinthians 16:19).
</p>
<p>
  It is simply Christians. It is the church one reads about in the New Testament,
  established in the first century (Acts 2:38). The term “church of Christ” is
  not a denominational designation, but rather is a descriptive term indicating
  that the church belongs to Christ and her members are His followers. Only Christ
  has the authority to say what the church is and what she should teach (Matthew 28:18).
</p>
<p>
  Since only the New Testament sets forth Christ’s teachings, it alone must serve
  as the basis for all religious practices, teachings, and instruction. In I
  Corinthians, chapter one, the apostle Paul begged those who were divided to
  unite in Christ. Religious unity can be achieved and the only way to achieve
  this unity is for all men to return to the Bible, the Word of God. To subscribe
  to any creed or doctrine other than the New Testament, to refuse to obey the
  instruction and principles of the New Testament, or to follow any practice not
  supported by the teachings found in the New Testament is to add or to take away
  from the teachings of God. As such, any additions or deletions are condemned in
  the Bible (Galatians 1:6-9, Revelation 22:18-19). True followers of Christ strive
  to do Bible things in Bible ways and to call Bible things by Bible names: nothing
  more or nothing less.
</p>
</div>
