<div class="center title">
  <h1>Our Congregation</h1>
</div>
<div class = "container">
  <h2>The journey to Stop 11</h2>
  <p>
    This congregation had its beginnings in the summer of 1921, then known as the
    South Side church of Christ.  At that time, there were only two church of Christ
    congregations in Indianapolis and those members living on the south side had to
    ride a streetcar to town and transfer to a streetcar going west or north to get
    to either congregation to worship.  A small group of Christians decided to start
    a congregation on the south side.  They rented a store building at 1430 E. Raymond
    St.  Soon after the congregation was started by those members, other families began
    to come in and soon there were approximately eleven families meeting.
  </p>
  <p>
    In the spring of 1925 the congregation bought a little frame building at 1301 Cruft
    St. and began meeting there.  There were approximately 50 in attendance by this time.
    E.G. Creacy of Horse Cave, KY held the first gospel meeting for the congregation.
    In 1935, W.L. Totty held a gospel meeting.  Soon after that, John Welch, one of the
    elders, began preaching regularly for the church.  W.L. Totty began preaching for
    the congregation in the fall of 1937.
  </p>
  <p>
    In the spring of 1942, the church undertook the building of a meetinghouse at 2842
    Shelby Street in the Garfield Heights neighborhood.  A scarcity of materials caused
    by the war forced them to stop working on the building after the basement was covered.
    In August of 1945, they resumed work on the building, and it was finished in the fall
    of 1946.  Since then, two additions were added, the last one in 1964.
  </p>
  <p>
    In late 2012 the Garfield Heights building on Shelby Street was sold.  The congregation
    moved to a temporary meeting place in Carson Square in March of 2013 during construction
    of the current building located at 6920 E. Stop 11 Road.  The first service was held at
    Stop 11 on December 28, 2014.
  </p>
  <p>
    Those who have served as ministers for the congregation over the years include W.L. Totty
    (1937-1971), Shelby Floyd (1971-1978), Roy Beasley (1978-1979), Guy Hester (1979-1980),
    Melvin Elliott (1980-1981), Fred Davis (1981-1985), Kenneth McClain (1986-1995), and
    Charles Blair, who began working with us in 1995.
  </p>
</div>
