<div class="center">
  <%= image_tag("Charles.jpg", alt: "Picture of Charles and Beverly", style: "margin-top: 20px") %>
</div>
<div class = "container">
  <h2>Our Minister</h2>
  <p>
  Charles Blair was born on August 26, 1948 to Maggie and Lewis Blair in Bay Minette, AL.  At age six, his family moved to Mobile, AL where Charles grew up and was baptized at age 11.
  </p>
  <p>
  Charles graduated from Murphy High School in 1966.  He began attending Alabama Christian College (now known as Faulkner University) in September 1966.  In 1969 Charles was named “Mr. Alabama Christian College.”  He did not finish school at that time, but did later return and earn the A.A. degree from Alabama Christian School of Religion.
  </p>
  <p>
  Charles began preaching part time while attending college.  In September of 1966, he started his first work at the Ramer church of Christ.  He worked with this congregation for two years.  His second congregation was Dublin church of Christ for four years, followed by the Oak Bowery church of Christ for another four years.
  </p>
  <p>
  On September 25, 1974, Charles married the love of his life, Beverly Hartzog.  They were married on a Wednesday evening following the Bible study at the Panama Street church of Christ, where she was a member.  Leaving Montgomery, they assumed the work at the Centerview church of Christ in Elizabethton, TN. Their first daughter, Brenda Kay, was born on in October 1975 and their first son, James, in January 1977.
  </p>
  <p>
  In January 1979 they moved to Tuscaloosa, AL where Charles preached for the High Forest church of Christ.  In June their second daughter, Anna, was born.
  </p>
  <p>
  In October 1980, Charles began preaching for the Cottondale church of Christ for the next 14 years.  In May 1981 their second son, Jonathan, was born.  In June 1985 their last child and third daughter, Abbie, was born.
  </p>
</div>
