<h4>ADDRESS:</h4>
<ul>
  <li>6920 E. Stop 11 Road</li>
  <li>Indianapolis, IN 46237</li>
</ul>

<h4>SCHEDULE OF SERVICES:</h4>
<ul>
  <li>Sunday AM Bible Study: 10 am</li>
  <li>Sunday AM Worship: 11 am</li>
  <li>Sunday PM Worship: 5 pm</li>
  <li>Wednesday Bible Study: 7 pm</li>
</ul>

<h4>ELDERS</h4>
<ul>
  <li>Don Allison</li>
  <li>Joe Mosley</li>
  <li>Doug Seale</li>
</ul>

<h4>MINISTER</h4>
<ul>
  <li>Charles Blair</li>
</ul>
